body{
	background-color: grey;
}

#container1{
	background-color: yellow;
	width: 600px;
	height: 250px;
	margin: 0 auto;
}

#container2{
	background-color: white;
	width: 600px;
	height: 150px;
	margin: 0 auto;
	text-align: center;
}

.letter1, .letter2, .letter3, .letter4, .letter5{
	display: inline-block;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	margin: 10px;
	padding: 30px;
}